<div class="container">

  <section class="avatar">
    <img class="avatarimg" src="vako.jpg" alt="Vako Chologauri">
    <h2 class="name">Vako Chologauri</h2>
    <div class="link">
      <a href="https://github.com/vako32124" target="_blank" rel="noopener">
        <img src="./github.png" alt="GitHub">
      </a>
      <a href="https://www.facebook.com/profile.php?id=100049245103498" target="_blank" rel="noopener">
        <img src="./facebook.png" alt="Facebook">
      </a>
      <a href="https://www.instagram.com/va._.k0/" target="_blank" rel="noopener">
        <img src="./instagram.png" alt="Instagram">
      </a>
      <a href="https://www.linkedin.com/in/vako-chologauri-8924a5366/" target="_blank" rel="noopener">
        <img src="./linkedin.png" alt="linkedin">
      </a>
    </div>
  </section>

  <section class="abtme">
    <h1>About Me</h1>
    <p>{{about}}</p>
    <div class="tech-stack">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" alt="HTML5">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" alt="CSS3">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" alt="JavaScript">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sass/sass-original.svg" alt="SCSS">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" alt="TypeScript">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg" alt="Angular">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" alt="GitHub">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR64Px8VKcmd_pCymwD1SH5u_QxOexjlE-TpA&s" alt="GitLens" style="width:65px; height:65px;">
      <img src="https://www.vectorlogo.zone/logos/getpostman/getpostman-icon.svg" alt="Postman">
    </div>

    <div class="skills-section">
      <h2>My Skills</h2>
    
      <div class="skill" *ngFor="let skill of skills">
        <div class="skill-header">
          <span>{{ skill.name }}</span>
          <span>{{ skill.percentage }}%</span>
        </div>
        <div class="progress-bar">
          <div class="progress-fill" [style.width.%]="skill.percentage"></div>
        </div>
      </div>
    </div>
    

  </section>

  <section class="projects">
    <h1>Projects</h1>

    <div class="projects-container">
      <div class="project-card" *ngFor="let project of projectLinks">
        <a [href]="project.url" target="_blank">
          <h2>{{ project.title }}</h2>
          <img [src]="project.img" [alt]="project.title">
          <p>{{ project. description }}</p>
        </a>
      </div>
    </div>
    
    
    
  </section>

</div>
